<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Document</title>
    <meta name="description" content="our website offfer you logos and designs">
    <meta name="keywords" content="star,markeeting,star markeeting111">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="locomotive/locomotive-scroll.css">

    <link rel="stylesheet" href="css/pricing.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/sidebar.css">
        <link rel="stylesheet" href="css/style.css">
    {{!-- footer styles --}}
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/footer/bootstrap.min.css">
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/footer/style.css">
</head>
<body>
   

     <div class="open"></div>
 
    <div id="main">
       
       <div id="loader">
         {{!-- loader work here --}}
         <div id="yellow1"></div>
         <div id="yellow2"></div>
         <video autoplay muted src="animated/video.mp4"></video>
         {{!-- navbar work start --}}
     {{>navbar}}
       {{!-- navbar work end --}}
          <div class="left"  data-scroll data-scroll-speed="-2">
             <h1>Beautifull & Innovative Banners

        </h1>
        <h3>BANNER AND LOGOS AVAILABLE</h3>
        <p>We provide you logo designing and banner designing services</p>
        </div>
        <div class="right_section">
            <img data-scroll data-scroll-speed="-2" src="/images/img1.png" alt="">
        </div>
    {{!-- loader work here --}}
       </div>
  <div id="page1">
    {{!-- navbar work start --}}
   
       {{>navbar}}
       {{>sidebar}}
       {{!-- navbar work end --}}
          <div class="left" data-scroll data-scroll-speed="-2">
             <h1>Beautifull & Innovative Banners

        </h1>
        <h3>BANNER AND LOGOS AVAILABLE</h3>
        <p>We provide you logo designing and banner designing services</p>
        </div>
        <div class="right_section">
            <img data-scroll data-scroll-speed="-2" src="/images/img1.png" alt="">
        </div>
        
  </div>

    <div id="page2">
        
        <div class="elem elem1">
           
            <h2>LOGOS</h2>
            <div class="moving">
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
            </div>
        </div>
        



         <div class="elem elem2">
            <h2>BANNER</h2>
            <div class="moving">
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
            </div>
        </div>




         <div class="elem elem3">
            <h2>THUMB</h2>
            <div class="moving">
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
            </div>
        </div>


         <div class="elem elem4">
            <h2>INTRO</h2>
            <div class="moving">
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
            </div>
        </div>


         <div class="elem elem5">
            <h2>DESIGNS</h2>
           
            <div class="moving">
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                 <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
                <div class="moving-in">
                    <h5>NIKE</h5>
                    <h5>JORDAN</h5>
                    <h5>CLOTHES</h5>
                    <h5>BRANDS</h5>
                    <h5>YOUTUBE</h5>
                </div>
            </div>
        </div>
    </div>
    <div id="page3">

<section class="plans__container">
  <div class="plans">
    <div class="plansHero">
      <h1 class="plansHero__title">PRICING</h1>
      <p class="plansHero__subtitle">this pricing is for each section</p>
    </div>
    <div class="planItem__container">
      <!--free plan starts -->
      <div class="planItem planItem--free">

        <div class="card">
          <div class="card__header">
            <div class="card__icon symbol symbol--rounded"></div>
            <h2>LOGO</h2>
          </div>
          <div class="card__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</div>
        </div>

        <div class="price">Rs 300<span>/ month</span></div>

        <ul class="featureList">
          <li>2 links</li>
          <li>Own analytics platform</li>
          <li class="disabled">Chat support</li>
          <li class="disabled">Mobile application</li>
          <li class="disabled">Unlimited users</li>
        </ul>

        <button class="button">Get Started</button>
      </div>
      <!--free plan ends -->

      <!--pro plan starts -->
      <div class="planItem planItem--pro">
        <div class="card">
          <div class="card__header">
            <div class="card__icon symbol"></div>
            <h2>Banner</h2>
            <div class="card__label label">Best Value</div>
          </div>
          <div class="card__desc">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
        </div>

        <div class="price">Rs 350<span>/ month</span></div>

        <ul class="featureList">
          <li>2 links</li>
          <li>Own analytics platform</li>
          <li>Chat support</li>
          <li class="disabled">Mobile application</li>
          <li class="disabled">Unlimited users</li>
        </ul>

        <button class="button button--pink">Get Started</button>
      </div>
      <!--pro plan ends -->

      <!--entp plan starts -->
      <div class="planItem planItem--entp">
        <div class="card" id="custom">
          <div class="card__header">
            <div class="card__icon"></div>
            <h2>Custom</h2>
          </div>
          <div class="card__desc">Nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</div>
        </div>

        <div class="price">Let's Talk</div>

        <ul class="featureList">
          <li>2 links</li>
          <li>Own analytics platform</li>
          <li>Chat support</li>
          <li>Mobile application</li>
          <li>Unlimited users</li>
          <li>Customize Panel</li>
        </ul>

        <button class="button button--white">Get Started</button>
      </div>
      <!--entp plan ends -->

    </div>
  </div>
</section>

    </div>
 
    <div id="page4" id="page4">
        <div class="image-container" id="img-container">
           <div id="line1"></div>
           <div id="line2"></div>
           <div id="line3"></div>
        </div>



    </div>

     <div id="footer_device">
{{>footer}}
    </div>
      <button data-scroll data-scroll-sticky data-scroll-target="#main" style="top: 100px;" class="whatsapp showLogo" onclick="window.location.href='wa.me/923182793088'" id="whatsAppBtn"><img src="images/images/whatsapp.svg" alt=""></button>
    </div>
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="locomotive/locomotive-scroll.js"></script>
    <script src="js/script.js"></script>
    <script src="js/images.js"></script>




</body>
</html>